<p-button (click)="showDialog()" severity="secondary" [rounded]="true" [text]="true" styleClass="no-padding">
  <i class="pi pi-search" style="font-size: 1.1rem"></i>
</p-button>
<p-dialog
  [modal]="true"
  (onShow)="handleDialogShow()"
  draggable="false"
  resizable="false"
  dismissableMask="true"
  [(visible)]="visible"
  position="top"
  [style]="{ width: '90%', 'max-width': '400px', 'margin-top': '150px' }"
>
  <ng-template pTemplate="headless">
    <div class="flex p-2 align-items-center gap-2">
      <form [formGroup]="formData">
        <input type="text" formControlName="search" #searchInput class="input" autocomplete="off" />
      </form>

      @if (isSearching()) {
        <div class="dot-flashing"></div>
      }
    </div>

    <div>
      <ul class="flex flex-column justify-content-center align-items-center">
        @for (post of searchPosts().posts; track post.id) {
          <a
            class="cursor w-full link-hover"
            [routerLink]="['/posts', post.id, post.year, post.language, post.identifier]"
          >
            <li class="w-full p-2 li-result">
              <p class="text-justify" [innerHTML]="post.title | boldTarget: searchTerm"></p>
              <p class="text-sm text-gray-500" [innerHTML]="post.body | boldTarget: searchTerm"></p>
              <div class="flex gap-1">
                @for (tag of post.tags; track random(1, 100)) {
                  <p-chip [label]="tag" styleClass="p-1 text-xs border-gray-500 border-1" />
                }
              </div>
            </li>
          </a>
        }
      </ul>
    </div>
  </ng-template>
</p-dialog>
