li {
  width: 80%;
  text-align: center;
}

.theme-container {
  display: flex;
  justify-content: center;
  width: 97%;
  padding: 10px;
  border-radius: 15px;
  background-color: #8c221c;
}

.burger-wrapper {
  cursor: pointer;
}

.social-media-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #8c221c;
  padding: 10px;
  gap: 2px;
}

.theme-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0 1rem;
  gap: 5px;
  width: 75%;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
