<p-sidebar [(visible)]="sidebarVisible" position="right">
  <ng-template pTemplate="headless">
    <div class="flex flex-column align-items-center gap-2 bg-red-500 p-1 h-full">
      <div class="align-self-end">
        <p-button
          (click)="sidebarVisible = false"
          [rounded]="true"
          severity="secondary"
          [outlined]="true"
          [style]="{ color: 'white', margin: '5px 0 10px 0' }"
        >
          <ng-template pTemplate="icon">
            <i class="pi pi-times text-white"></i>
          </ng-template>
        </p-button>
      </div>

      <div class="theme-container">
        <ul class="theme-ul">
          <li (click)="themeChange('Light')">
            <app-theme-button icon="pi-sun" name="Light" />
          </li>
          <li (click)="themeChange('Dark')">
            <app-theme-button icon="pi-moon" name="Dark" />
          </li>
          <li (click)="themeChange('System')">
            <app-theme-button icon="pi-desktop" name="System" />
          </li>
        </ul>
      </div>

      <div class="theme-container">
        @if (is_authenticated()) {
          <p-avatar
            icon="pi pi-user"
            styleClass="mr-2"
            size="large"
            shape="circle"
            [style]="{ 'background-color': '#ff6259', color: '#ffffff' }"
            (click)="showDialog()"
          />
        } @else {
          <p-buttonGroup>
            <p-button (click)="authClick('signup')" label="Sign Up" severity="danger" size="small" />

            <p-button (click)="authClick('login')" label="Log in" severity="contrast" size="small" />
          </p-buttonGroup>
        }
      </div>

      <div class="theme-container flex-column">
        <a href="#" class="ml-2 text-gray-200 text-base font-normal">
          <div class="flex gap-2 align-items-center">
            <i class="pi pi-server text-gray-200 font-normal"></i>
            Archive
          </div>
        </a>

        <a href="#" class="ml-2 text-gray-200 text-base font-normal">
          <div class="flex gap-2 align-items-center">
            <i class="pi pi-address-book text-gray-200 font-normal"></i>
            About
          </div>
        </a>
      </div>

      <div class="theme-container">
        <div class="flex flex-column align-items-center">
          <p class="text-sm text-gray-200">SUBSCRIBE TODAY</p>
          <p class="text-l text-gray-200 font-semibold">BECOME A RAILS GENIUS</p>
          <p-inputGroup>
            <input type="text" pInputText placeholder="@email" />
            <button type="button" label="Subscribe" pButton class="p-button-warning"></button>
          </p-inputGroup>
        </div>
      </div>

      <div class="social-media-container mt-auto">
        <div class="flex justify-content-center gap-5">
          <i class="pi pi-linkedin text-white" style="font-size: 1.3rem"></i>
          <i class="pi pi-github text-white" style="font-size: 1.3rem"></i>
          <i class="pi pi-envelope text-white" style="font-size: 1.3rem"></i>
        </div>
      </div>
    </div>
  </ng-template>
</p-sidebar>
<p-button [rounded]="true" [text]="true" severity="secondary" (onClick)="sidebarVisible = true">
  <i class="pi pi-bars text-3xl text-gray-700"></i>
</p-button>

@if (is_authenticated()) {
  <p-dialog
    header="Header"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '18rem' }"
    transitionOptions="400ms cubic-bezier(0, 0, 0.2, 1)"
  >
    <ng-template pTemplate="header"></ng-template>
    <div class="p-2 flex flex-column align-items-center gap-4 mb-1">
      <div class="flex flex-column align-items-center justify-content-center gap-2">
        <p-avatar
          [label]="credentials()['uid'][0].toUpperCase()"
          styleClass="mr-2"
          size="xlarge"
          shape="circle"
          [style]="{ 'background-color': '#ff6259', color: '#ffffff' }"
        />
        <span class="font-bold truncate text-gray-600">{{ credentials()['uid'] }}</span>
      </div>

      <div class="flex flex-column align-items-center">
        <span class="p-text-secondary block mb-5">Update your password.</span>

        <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="flex flex-column align-items-center gap-4">
          <p-floatLabel>
            <input type="password" pInputText id="newPassword" formControlName="newPassword" />
            <label for="newPassword">New Password</label>
          </p-floatLabel>
          <div>
            <p-button label="Cancel" [text]="true" severity="secondary" (onClick)="visible = false" />
            <p-button type="submit" label="Updated" [outlined]="true" severity="secondary" />
          </div>
        </form>
      </div>

      <p-button
        label="Favorites"
        (click)="handleFavorites()"
        severity="warning"
        icon="pi pi-star-fill"
        [style]="{ width: '130px' }"
      />
      <p-button
        (click)="handleLogout()"
        label="Logout"
        severity="danger"
        icon="pi pi-sign-out"
        [style]="{ width: '130px' }"
      />
    </div>
  </p-dialog>
}
@if (message) {
  <p-messages
    [(value)]="message"
    [enableService]="false"
    [closable]="true"
    [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'"
    [style]="{ width: '100%', 'max-width': '340px', margin: 'auto' }"
  />
}
