li {
  width: 80%;
  text-align: center;
}

.theme-container {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(143, 1, 0, 0.8);
}

.burger-wrapper {
  cursor: pointer;
}

.menu-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

.social-icons-container {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2px;
  margin-bottom: 1rem;
  height: 150px;
}

.social-icons-container > div {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
}

.theme-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0 1rem;
  gap: 5px;
  width: 75%;
}
