img {
  width: 250px;
  max-width: 350px;
  height: auto;
  border-radius: 5px;
}

.container {
  width: 100%;
  height: 500px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 5px;
}

.title {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7rem;
  text-align: center;
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* número de líneas a mostrar */
  -webkit-box-orient: vertical;
}

.hero-description {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  height: 60px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* número de líneas a mostrar */
  -webkit-box-orient: vertical;
}

.hero-read-time {
  width: 95%;
  font-size: 0.8rem;
  align-self: start;
  color: #ff6259;
  text-align: right;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    justify-content: start;
  }
}
