<div class="foot-container">
  <p>Make in Bolivia 🇧🇴 by <a href="https://www.linkedin.com/in/marceloalarconb/" class="cursor">Marcelo Alarcon</a></p>
  <div class="flex gap-2">
    <a href="https://github.com/chelobotix" target="_blank">
      <p-button icon="pi pi-github" severity="secondary" [rounded]="true" [raised]="true" />
    </a>

    <a href="https://www.linkedin.com/in/marceloalarconb/" target="_blank">
      <p-button icon="pi pi-linkedin" severity="secondary" [rounded]="true" [raised]="true" />
    </a>

    <a href="https://barrenechea.netlify.app/" target="_blank">
      <p-button icon="pi pi-briefcase" severity="secondary" [rounded]="true" [raised]="true" />
    </a>

    <a href="mailto:'marceloalarconbarrenechea@gmail.com" target="_blank">
      <p-button icon="pi pi-envelope" severity="secondary" [rounded]="true" [raised]="true" />
    </a>
  </div>
</div>
