.card-container {
  display: flex;
  justify-content: center;
  height: 120vh;
  max-width: 1200px;
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-top: 1.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 2.6rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--red-500);
  margin-bottom: -1.2rem;
}
