<div class="flex gap-3">
  <a [routerLink]="['/archive']" routerLinkActive="selected" class="link text-gray-400 hover:text-gray-700">
    Archive
  </a>
  <a [routerLink]="['/about']" routerLinkActive="selected" class="link text-gray-400 hover:text-gray-700">About</a>
</div>

<p-divider layout="vertical" />

@if (is_authenticated()) {
  <p-avatar
    [label]="credentials()['uid'][0].toUpperCase()"
    styleClass="mr-2 cursor"
    size="normal"
    shape="circle"
    [style]="{ 'background-color': '#ff6259', color: '#ffffff' }"
    (click)="showDialog()"
  />
} @else {
  <p-buttonGroup>
    <p-button [routerLink]="['/auth/signup']" label="Sign Up" severity="danger" size="small" />

    <p-button [routerLink]="['/auth/login']" label="Log in" severity="contrast" size="small" />
  </p-buttonGroup>
}

<p-divider layout="vertical" />

<p-dropdown [options]="themes" [(ngModel)]="selectedTheme" (onChange)="handleTheme()" optionLabel="name" placeholder="">
  <ng-template let-theme pTemplate="item">
    <i [class]="['pi', theme.icon]"></i>
  </ng-template>

  <ng-template let-theme pTemplate="selectedItem">
    <i [class]="['pi', selectedTheme.icon]"></i>
  </ng-template>
</p-dropdown>
<app-search />

@if (is_authenticated()) {
  <p-dialog
    header="Header"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '25rem' }"
    transitionOptions="400ms cubic-bezier(0, 0, 0.2, 1)"
  >
    <ng-template pTemplate="header"></ng-template>
    <div class="p-2 flex flex-column align-items-center gap-4 mb-1">
      <div class="flex flex-column align-items-center justify-content-center gap-2">
        <p-avatar
          [label]="credentials()['uid'][0].toUpperCase()"
          styleClass="mr-2"
          size="xlarge"
          shape="circle"
          [style]="{ 'background-color': '#ff6259', color: '#ffffff' }"
        />
        <span class="font-bold white-space-nowrap text-gray-600">{{ credentials()['uid'] }}</span>
      </div>

      <div class="flex flex-column align-items-center">
        <span class="p-text-secondary block mb-5">Update your password.</span>

        <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="flex flex-column align-items-center gap-4">
          <p-floatLabel>
            <input type="password" pInputText id="newPassword" formControlName="newPassword" />
            <label for="newPassword">New Password</label>
          </p-floatLabel>
          <div>
            <p-button label="Cancel" [text]="true" severity="secondary" (onClick)="visible = false" />
            <p-button type="submit" label="Updated" [outlined]="true" severity="secondary" />
          </div>
        </form>
      </div>

      <p-button (click)="handleFavorites()" label="Favorites" severity="warning" icon="pi pi-star-fill" />
      <p-button (click)="handleLogout()" label="Logout" severity="danger" icon="pi pi-sign-out" />
    </div>
  </p-dialog>
}
@if (message) {
  <p-messages
    [(value)]="message"
    [enableService]="false"
    [closable]="true"
    [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'"
    [style]="{ width: '100%', 'max-width': '340px', margin: 'auto' }"
  />
}

<p-dialog
  header="Header"
  [modal]="true"
  [(visible)]="favoriteVisible"
  position="bottom"
  [style]="{ width: '25rem' }"
  transitionOptions="400ms cubic-bezier(0, 0, 0.2, 1)"
>
  <ng-template pTemplate="header">
    <p class="text-xl font-semibold text-orange-500">Favorites</p>
  </ng-template>
  <div class="p-2 flex flex-column align-items-center gap-4 mb-1">
    @if (userFavorites().posts.length > 0) {
      @for (userFavorite of userFavorites().posts; track userFavorite.id) {
        <a class="cursor" (click)="handleFavoritesClick()" [routerLink]="['/posts', userFavorite.id]">
          <p-card styleClass="favorite-card">
            <i class="pi pi-bookmark-fill" style="font-size: 1.5rem; color: #ffc107"></i>
            <p class="text-red-300 font-semibold">{{ userFavorite.title }}</p>
          </p-card>
        </a>
      }
    } @else {
      <p class="bold">¯\_(ツ)_/¯</p>
      <p>No favorites yet</p>
    }
  </div>
</p-dialog>
