.container {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto 0.5rem auto;
  padding: 0 1rem;
  max-width: 1200px;
}

.logo-img {
  width: 70px;
}

.hamburger-container {
  display: flex;
  align-items: center;
}

.desktop-container {
  display: none;
}

.cursor {
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .hamburger-container {
    display: none;
  }

  .desktop-container {
    display: block;
  }
}
