img {
  width: 150px;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}

.container {
  display: flex;
  justify-content: start;
  gap: 5px;
  width: 100%;
}

.feature-data {
}

.title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1rem;
}

.hero-read-time {
  font-size: 0.7rem;
  align-self: start;
  color: #ff6259;
}

@media only screen and (min-width: 768px) {
  .container {
    justify-content: space-between;
  }

  img {
    width: 200px;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 1024px) {
}
