@if (post()) {
  <div class="post-container">
    <div class="favorite">
      @if (isAuthenticated()) {
        @if (favorite()) {
          <i
            class="pi pi-bookmark-fill cursor"
            (click)="toggleFavorite(true)"
            style="font-size: 1.5rem; color: #ffc107"
          ></i>
        } @else {
          <i class="pi pi-bookmark cursor" (click)="toggleFavorite(false)" style="font-size: 1.5rem"></i>
        }
      }
    </div>
    <img [src]="post()?.image_url" alt="" class="main-img" />
    <div class="post-container-inner">
      <ng-container *ngComponentOutlet="currentComponent"></ng-container>
    </div>
    <app-comments [comments]="post()?.comments!" [post_id]="post()?.id!" />

    <app-new-comment title="Post a new comment. It's cool!" innerText="Post a comment" [post_id]="post()?.id!" />
  </div>
}
