@if (post()) {
  <div class="post-container">
    <div class="favorite">
      @if (isAuthenticated()) {
        @if (favorite()) {
          <i
            class="pi pi-bookmark-fill cursor"
            (click)="toggleFavorite(true)"
            style="font-size: 1.5rem; color: #ffc107"
          ></i>
        } @else {
          <i class="pi pi-bookmark cursor" (click)="toggleFavorite(false)" style="font-size: 1.5rem"></i>
        }
      }
    </div>
    <img [src]="post()?.imageUrl" alt="" class="main-img" />
    <h1 class="text-red-400">{{ post()?.title }}</h1>
  </div>
  <div class="post-container-inner">
    <markdown emoji lineHighlight lineNumbers [data]="post()?.body"></markdown>
  </div>
}
