<a
  href="https://res.cloudinary.com/dsqwyfxat/image/upload/v1727267071/Cookies_casos_de_la_vida_real_3_er8kcf.png"
  data-lightbox="image-1"
>
  <img
    src="https://res.cloudinary.com/dsqwyfxat/image/upload/v1727267071/Cookies_casos_de_la_vida_real_3_er8kcf.png"
    alt="Image description"
  />
</a>
@if (post()) {
  <div class="post-container">
    <img [src]="post()?.imageUrl" alt="" class="main-img" />
    <h1 class="text-red-400">{{ post()?.title }}</h1>
  </div>
  <div class="post-container-inner" [innerHTML]="safeHtmlBody"></div>
}
