li {
  width: 80%;
  text-align: center;
}

.burger-wrapper {
  cursor: pointer;
}

.menu-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  list-style-type: none;
  padding: 0;
}

.social-icons-container {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 1rem;
}

.social-icons-container > div {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
}

.theme-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0 1rem;
  gap: 5px;
  width: 75%;
}
