<div>
  <input type="checkbox" id="menyAvPaa"/>
  <label id="burger" for="menyAvPaa" (click)="handleClick()">
    <div></div>
    <div></div>
    <div></div>
  </label>
  <nav id="meny">
    <div class="flex justify-content-center">
      <ul class="theme-ul">
        <li (click)="themeChange('Light')">
          <app-theme-button icon="pi-sun" name="Light"/>
        </li>
        <li (click)="themeChange('Dark')">
          <app-theme-button icon="pi-moon" name="Dark"/>
        </li>
        <li (click)="themeChange('System')">
          <app-theme-button icon="pi-desktop" name="System"/>
        </li>
      </ul>
    </div>

    <p-divider/>

    <ul class="menu-ul">
      <li>Archive</li>
      <li>About</li>
    </ul>

    <p-divider/>

    <ul class="menu-ul">
      <li>
        <p-button label="Log in" styleClass="login-button" [rounded]="true"/>
      </li>
      <li>
        <p-button
          label="Sign up"
          styleClass="signup-button"
          [rounded]="true"
          [outlined]="true"
        />
      </li>
    </ul>
    <div class="social-icons-container">
      <div>
        <i class="pi pi-linkedin" style="font-size: 1.3rem"></i>
        <i class="pi pi-github" style="font-size: 1.3rem"></i>
        <i class="pi pi-envelope" style="font-size: 1.3rem"></i>
      </div>
    </div>
  </nav>
</div>
