<div class="flex align-items-center">
  <p-button
    (onClick)="menu.toggle($event); handleClick()"
    icon="pi pi-ellipsis-v"
    [rounded]="true"
    [text]="true"
    severity="secondary"
  />
  <p-menu
    #menu
    [model]="items"
    [popup]="true"
    styleClass="main-menu"
    showTransitionOptions=".300s cubic-bezier(0, 0, 0.2, 1)"
    hideTransitionOptions=".300s linear"
  >
    <ng-template pTemplate="start">
      <div class="flex justify-content-center">
        <ul class="theme-ul">
          <li (click)="themeChange('Light')">
            <app-theme-button icon="pi-sun" name="Light" />
          </li>
          <li (click)="themeChange('Dark')">
            <app-theme-button icon="pi-moon" name="Dark" />
          </li>
          <li (click)="themeChange('System')">
            <app-theme-button icon="pi-desktop" name="System" />
          </li>
        </ul>
      </div>
      <p-divider />
    </ng-template>

    <ng-template pTemplate="item" let-item>
      <a pRipple class="flex justify-content-center align-items-center p-0">
        <span class="ml-2 text-white text-xl font-semibold">{{ item.label }}</span>
      </a>
    </ng-template>

    <ng-template pTemplate="end">
      <p-divider />
      <ul class="menu-ul">
        <li>
          <p-button label="Log in" styleClass="login-button" [rounded]="true" />
        </li>
        <li>
          <p-button label="Sign up" styleClass="signup-button" [rounded]="true" [outlined]="true" />
        </li>
      </ul>
      <p-divider />
      <div class="social-icons-container">
        <div>
          <i class="pi pi-linkedin" style="font-size: 1.3rem"></i>
          <i class="pi pi-github" style="font-size: 1.3rem"></i>
          <i class="pi pi-envelope" style="font-size: 1.3rem"></i>
        </div>
      </div>
    </ng-template>
  </p-menu>
</div>
