<div [ngClass]="{ 'menu-over': menuStatus() }">
  <div class="px-2">
    <p class="text-justify">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae dolorem dolores impedit minus omnis
      placeat, ratione sint? Consequuntur harum inventore ipsa ipsam labore libero modi nam repellendus totam
      voluptatibus?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae dolorem dolores impedit minus omnis
      placeat, ratione sint? Consequuntur harum inventore ipsa ipsam labore libero modi nam repellendus totam
      voluptatibus?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae dolorem dolores impedit minus omnis
      placeat, ratione sint? Consequuntur harum inventore ipsa ipsam labore libero modi nam repellendus totam
      voluptatibus?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae dolorem dolores impedit minus omnis
      placeat, ratione sint? Consequuntur harum inventore ipsa ipsam labore libero modi nam repellendus totam
      voluptatibus?
    </p>
  </div>
</div>
