<article class="flex flex-column align-items-center justify-content-center">
  @if (!loader()) {
    <div class="container surface-100">
      <app-hero [heroPost]="posts().posts[0]" />
      <div class="feature-container">
        @for (featurePost of featurePosts; track featurePost.id) {
          <app-feature [featurePost]="featurePost" />
        }
      </div>
    </div>
    <div class="posts-container surface-100">
      @for (post of posts().posts; track post.id) {
        <app-post-holder [post]="post" />
      }
    </div>
  }
</article>
