<article class="flex flex-column align-items-center justify-content-center">
  @if (!loader()) {
    <div class="container surface-100">
      <app-hero [heroPost]="posts().posts[0]" />
      <div class="feature-container">
        <p class="featured-title text-red-400">FEATURED</p>
        @for (post of posts().posts; track post.id) {
          @if (post.featured) {
            <app-feature [featurePost]="post" />
          }
        }
      </div>
    </div>
    <div class="posts-container">
      @for (post of posts().posts; track post.id) {
        <app-post [post]="post" />
        <div class="lg:hidden">
          <p-divider />
        </div>
      }
    </div>
  }
</article>
