@for (comment of comments; track comment.id) {
  <div class="container">
    <p-panel [toggleable]="true">
      <ng-template pTemplate="header">
        <div class="flex flex-column gap-2">
          @if (comment.user_email === user_uid) {
            <i (click)="edit(comment.id)" class="pi pi-pen-to-square cursor" style=""></i>
          }
          <div>
            <p-avatar
              [label]="comment.user_email.charAt(0).toUpperCase()"
              size="large"
              shape="circle"
              [style]="avatar_color()"
            />
            <span class="font-bold"> {{ comment.user_email.slice(0, 12) }}...</span>
          </div>
        </div>
      </ng-template>

      <div class="w-full">
        @if (!showEdit() || actualOpen !== comment.id) {
          <p class="m-0">{{ comment.body }}</p>
        } @else if (showEdit() && actualOpen === comment.id) {
          <app-edit-comment
            [commentId]="comment.id"
            [commentPostId]="comment.post_id"
            [commentBody]="comment.body"
            (showEdit)="edit(comment.id)"
          />
        }

        <div class="flex flex-wrap align-items-center justify-content-between gap-3">
          <span class="p-text-secondary"> {{ comment.created_at | timeAgo }} </span>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <p>Reply({{ comment.replies.length }})</p>
        @for (reply of comment.replies; track reply.id) {
          <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
              <div class="flex align-items-center gap-2">
                @if (reply.user_email === user_uid) {
                  <i (click)="editReply(reply.id)" class="pi pi-pen-to-square cursor" style=""></i>
                }
                <div>
                  <p-avatar
                    [label]="reply.user_email.charAt(0).toUpperCase()"
                    size="large"
                    shape="circle"
                    [style]="avatar_color()"
                  />
                  <span class="font-bold"> {{ reply.user_email.slice(0, 12) }}...</span>
                </div>
              </div>
            </ng-template>

            <div>
              @if (!showReplyEdit() || actualReplyOpen !== reply.id) {
                <p class="m-0">{{ reply.body }}</p>
              } @else if (showReplyEdit() && actualReplyOpen === reply.id) {
                <app-edit-comment
                  [commentId]="reply.id"
                  [commentPostId]="reply.post_id"
                  [commentBody]="reply.body"
                  (showEdit)="editReply(reply.id)"
                />
              }

              <div class="flex flex-wrap align-items-center justify-content-between gap-3">
                <span class="p-text-secondary"> {{ reply.created_at | timeAgo }} </span>
              </div>
            </div>
          </p-panel>
        }
      </ng-template>
    </p-panel>
  </div>
}
