<div class="flex flex-column align-items-center mt-6">
  <h1 class="text-red-500">Only Yayita with her big boobs are here...</h1>
  <h3 class="my-5">What are you looking for?</h3>
  <p><a href="index.html" class="text-red-500 font-semibold cursor py-6">Return to Home</a></p>
  <img src="/images/yayita.jpg" class="my-8" width="650" alt="" />
  <p>or, are you trying to understand too?</p>
  <p>
    <a href="https://www.linkedin.com/in/marceloalarconb/" class="cursor"
      ><img src="/images/pill.png" class="mb-8 border-round-2xl" width="350" alt=""
    /></a>
  </p>
</div>
