img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 5px;
}

.container {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7rem;
  text-align: center;
}

.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}

.hero-body {
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

.hero-read-time {
  font-size: 0.8rem;
  align-self: start;
  color: #ff6259;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    justify-content: start;
  }
}
