<div class="w-full">
  <p-panel header="Post a new comment. It's cool!" [toggleable]="true">
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
      @if (commentDisable()) {
        <p-floatLabel>
          <textarea id="float-input1" rows="5" [style]="{ width: '100%' }" pInputTextarea [disabled]="true"> </textarea>
          <p-button
            [routerLink]="['/auth/login']"
            label="Log in"
            severity="danger"
            [style]="{ 'margin-bottom': '15px' }"
            size="small"
          />
          <label for="float-input1">Log in to post a comment</label>
        </p-floatLabel>
        <p-button type="submit" (click)="new_comment()" label="Leave a comment" severity="danger" disabled="true" />
      } @else {
        <p-floatLabel>
          <textarea id="float-input2" rows="5" [style]="{ width: '100%' }" pInputTextarea> </textarea>
          <label for="float-input2">Post a comment</label>
        </p-floatLabel>
        <p-button type="submit" (click)="new_comment()" label="Leave a comment" severity="danger" />
      }
    </form>
  </p-panel>
</div>
